<configuration>
    <system.webServer>
        <!-- Allow access to /public for everyone -->
        <location path="public">
            <system.webServer>
                <security>
                    <authorization>
                        <add accessType="Allow" users="*" />
                    </authorization>
                </security>
            </system.webServer>
        </location>

        <!-- Protect other locations, require authentication -->
        <location path="">
            <system.webServer>
                <security>
                    <authorization>
                        <add accessType="Deny" users="?" />
                    </authorization>
                </security>
            </system.webServer>
        </location>
    </system.webServer>
</configuration>
